body{
    margin: 0;
    padding: 0;
    
}

*{
    
    font-family: 'Poppins', sans-serif;
    
}
.img-layer{
    width: 60%;
    height: 110%;
    position: absolute;
    top: 0; left: 0;
    background-image: url("../image/12.png");
    background-size:cover;
    z-index: 0;

}
.home-content{
    margin-top: 30%;
    margin-left: 8%;
}
.home-content h2{
    font-weight: 700;
    font-size: 40px;
}
.home-content a{
    text-decoration: none !important;
}
.home-content a:hover{
    color: white;
}
.btn-download{
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    display: block;
    margin-top: 35px;
    width: 125px;
    color: yellow;
    
}
.logo{
    width: 60px;
    height: 50px;
}
.side-header{
    position: relative;
    
}
.navbar{
    position: absolute;
    z-index: 3;
   
}
.nav-link{
    color: black;
}
.img-class{
    width: 200px;
}
.box{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 100%;
    background-color: white;
    margin-left: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg,#04AF76,#008C61);
    border-image-slice: 1;
}
.box img{
    margin-top: 15px;
}
.box h5{ font-weight: 700;}
.box p{ text-align: justify;}
.col-3{
    max-width: 20% !important;
    margin-left: 60px;
    margin-top: 5%;
}